.columns > div {
  display: flex;
}

.columns > div > div:not(.columns-img-col) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.holidaysection .columns > div > div:not(.columns-img-col) {
  color: #fff;
  background-color: rgb(27 37 44);
  padding-top: 55px;
  padding-bottom: 55px;
} 

.holidaysection .columns > div > div.columns-img-col {
  padding-top: 60px;
  padding-bottom: 60px;
}

.holidaysection .columns > div > div:not(.columns-img-col) h3 a {
  color: #fff;
}

.footsection .columns > div > div.columns-img-col {
  width: 32%;
}

@media (width < 950px) {
  .columns > div {
    flex-wrap: wrap;
  }

  .footsection .columns > div > div.columns-img-col {
    flex-grow: 1;
    margin-top: 55px;
  }
}